cmake-build-*
.cache/
__pycache__/
.vscode
.venv/
.p/
.idea/
mytoolchain.cmake
book
compile_flags.txt
flatboot/
.DS_Store
include/zxfoundation/zxconfig.h
zxfoundation/base/config.cxxm
doxygen-build/
convert*.py