ARCHLVL      z/Arch
CPUMODEL     $(z16)
LPARNUM      1
LPARNAME     ZXF
PLANT        ZZ
MODEL        z16
MANUFACTURER IBM
MAINSIZE     4G
NUMCPU       4
MAXCPU       8
ENGINES      2*CP,1*AP,1*IP
DIAG8CMD     ENABLE
PANOPT       NAMEONLY RATE=FAST "TITLE=ZXFoundation"
LOGOPT       NOTIMESTAMP
CNSLPORT     3270
PGMPRDOS     RESTRICTED
0009         3215-C  /
001C         SYSG
001F         3270

0100        3390    sysres.3390

IPL 0100