ARCHMODE    z/Arch          
CPUSERIAL   000666          
CPUMODEL    2096
SCLPMDL     2096
MAINSIZE    512             
XPNDSIZE    0               
NUMCPU      1               
DIAG8CMD    ENABLE
CNSLPORT    3270            
0009        3215-C  /       
001C        SYSG
001F        3270            
  
0100        3390    sysres.3390

IPL 0100